@import url(fonts.css);
@import url(home.css);
@import url(contact.css);
@import url(profile.css);

html{
    background:url(../ASSESTS/fondo.jpg) center center; 
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}